
$blue: #2185D0;

$default: #fff;
$default-border: #ccc;
$primary: $blue;
$primary-hover: #1678c2;
$primary-border: #2e6da4;
$success: #5cb85c;
$success-border: #4cae4c;
$info: #5bc0de;
$info-border: #46b8da;
$warning: #f0ad4e;
$warning-border: #eea236;
$danger: #d9534f;
$danger-border: #d43f3a;

// Background colors
$background: #fff;


// Font colors
$fontWhite: #fff;
$fontLightGrey: #a4a4a4;