html {
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  filter: blur(0.4px);
  background: linear-gradient(135deg, hsl(60, 85%, 93%), hsl(180, 15%, 80%));
}