@import '~styles/theme/card';

%backgroundImge {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  @extend %backgroundImge;
  $width: $cardSize;
  $height: $width/(3/4);
  display: flex;
  flex-direction: column;
  height: $height;
  width: $width;
  min-width: $width;
  overflow: hidden;
  background-color: $cardColorSecondary;
  box-shadow: $cardBoxShadow;
  position:relative;
  font-size: $cardFontSizeSecondary;

  & .date {
    text-align: center;
    padding: $cardSpacingSmall;
    color: $cardColor;
    left: 0; right: 0;
    font-family: $cardFontSecondary;
    font-size: $cardFontNormal;
  }

  &:hover {
    box-shadow: $cardBoxShadowHover;
  }
}
  
.bg {
  @extend %backgroundImge;
  display:flex;
  position:relative;
  .card.invert & {
    color: $cardColorSecondary;
  }
}

.title {
  width:100%;
  display: flex;
  align-self: flex-end;
  font-family: $cardFontPrimary;
  font-size: $cardFontLarge;
  padding: $cardSpacingNormal;
}

.invert {
  color: $cardColorSecondary;
}

.border {
  border-top: 1px solid $cardColorBorder;
  .card.invert & {
    border-top: 1px solid $cardColorBorderDark;
  }
}

.full {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  flex-direction: column;
  align-items:center;
}

.expand {
  flex-grow: 1;
}

.transparent {
  &:not(.card) {
    background: rgba(0,0,0,.2);
  }
  .card.invert & {
    color: $cardColorSecondary;
  }
}

.section {
  width: 100%;
  line-height: normal;
  padding: $cardSpacingNormal;
  font-family: $cardFontPrimary;
}