@import '~styles/theme/card';

.card {
  $width: $cardSize;
  $height: $width/(3/4);
  height: $height;
  width: $width;
  min-width: $width;
  margin-bottom: $cardSpacingNormal;
  overflow: hidden;
  background-color: $cardColorSecondary;
  box-shadow: $cardBoxShadow;
  position:relative;
  
  & + & {
    margin-left: $cardSpacingHuge;
  }
  
  .bg {
    position:relative;
    height: $width / (4/3);
    background: url(https://unsplash.it/720/480/?random) no-repeat;
  }
    
  & .title {
    font-family: $cardFontPrimary;
    font-size: $cardFontLarge;
    padding: $cardSpacingNormal 0 0 0;
    margin: 0 $cardSpacingNormal $cardSpacingNormal $cardSpacingNormal;
  }
  
  & .section {
    font-family: $cardFontPrimary;
    margin: $cardSpacingNormal;
  }

  & .date {
    text-align: center;
    padding: $cardSpacingSmall;
    color: $cardColor;
    left: 0; right: 0;
    font-family: $cardFontSecondary;
    font-size: $cardFontNormal;
  }
  
  &.dark {
    & .date {
      color: $cardColorSecondary;
    }
    &.full {
      color: $cardColorSecondary;
    }
  }
  
  &.full {
    & + & {
      background: url(https://unsplash.it/720/480/?random=3) no-repeat;
      background-size: cover;
    }
    
    background: url(https://unsplash.it/720/480/?random=1) no-repeat;
    background-size: cover;
    display: inline-flex;
    flex-direction: column;
    align-items:center;
    
    & .title {
    }
    & .section {
      padding: $cardSpacingNormal;
      margin: 0;
    }
  }
  
  &.list {
    
  }
}