@import '~styles/theme/fonts';
@import '~styles/theme/colors';

html {
  font-size: $fontSizePrimary;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  filter: blur(0.4px);
  color: $black;
  font-family: $fontPrimary;
  background: linear-gradient(135deg, hsl($warm, 85%, 93%), hsl($cold, 15%, 80%));
}