@import '~styles/theme/sizes';
@import '~styles/theme/fonts';
@import '~styles/theme/colors';
@import '~styles/theme/shadows';
@import '~styles/globals';
@import '~styles/variables';

$cardSize: $global-size * 18;
$cardSpacingHuge: $size-largest * 2;
$cardSpacingNormal: $size-normal;
$cardSpacingSmall: $size-small;

$cardBoxShadow: $global-shadow-two;
$cardBoxShadowHover: $global-shadow-six;

$cardFontPrimary: $fontPrimary;
$cardFontSecondary: $fontSecondary;
$cardFontLarge: $fontBig;
$cardFontNormal: $fontNormal;
$cardFontSizeSecondary: $fontSizeSecondary;

$cardColor: $black;
$cardColorSecondary: $white;
$cardColorBorder: rgba(0,0,0,$shadowUmbra);
$cardColorBorderDark: rgba(255,255,255,$shadowUmbra);