@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Slab');
@import '~styles/globals';

$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;

$fontNormal: $global-size;
$fontBiggest: $fontNormal * 1.6;
$fontBigger: $fontNormal * 1.4;
$fontBig: $fontNormal * 1.2;
$fontSmall: $fontNormal * 0.8;
$fontSmaller: $fontNormal * 0.5;
$fontSmallest: $fontNormal * 0.3;

$fontSizePrimary: 14px;
$fontSizeSecondary: $fontSmall;